body {
    background-color: #3aafa9;


}

h1 {
    color: #feffff;
    font-family: 'righteous', cursive;
    
}

h1 {
    color: #17252a;
  }


  span {
    color: white;
  }


@import url(https://fonts.googleapis.com/css?family=Open+Sans);




.card {
    background-color: #17252a;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    /* width: 600px;
    height: 300px; */
    /* padding-right: 15px;
    padding-left: 15px; */
    /* float: left; */
}

div.card-image {
    /* width: 600px;
    height: 300px; */
    padding: 20px;
}

.card-content {
    background-color: white;
    position: relative;
}

.icon {

    cursor: pointer;

}


.custom-column {
    text-align: center;
}

/* .search {
  width: 100%;
  position: relative;
  display: inline-block;
} */

.searchTerm {
    width: 60%;
    border: 3px solid #17252a;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #17252a;
    position: relative;
}




.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #17252a;
    background: #17252a;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#userSubmit {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonClass {
    margin: 10px;
    background: #17252a;
    color: #feffff
}

div.custom-column img {
    height: 100px;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}
.footer {
        position:absolute;
        bottom:0;
        height:60px;
        font-family: 'righteous', cursive;
        color: #17252a;
        font-size: 14px;
}